{:source-paths ["src" "test"]
 :dependencies []
 :nrepl {:port #shadow/env ["NREPL_PORT" 8777]}
  :builds
  {:dev
    {:target :browser
     :output-dir "public/js"
     :modules {:main {:init-fn ClojCAD.core/init}}

    :compiler-options {:output-feature-set :es-next}

    :devtools {:http-port 8700
               :http-root "public"
               :nrepl-port 8777}}
   :test
    {:target :node-script
     :output-to "target/test/runner.js"
     :main clojcad.runner/-main}}}
