{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:dev
   {:target :browser
    :output-dir "public/js"
    :modules {:main {:init-fn CADscript.core/init}}

   :devtools {:http-port 8700
              :http-root "public"
              :nrepl-port 8777}}}}
